In [2]:
import pymongo

In [3]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [4]:
mydb=client['Employee']

In [18]:
information=mydb.empinfo

record= {
        'firstname':'Jasneek',
        'lastname':'Chugh',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        }

In [19]:
information.insert_one(record)

In [20]:
record2= [
        {
        'firstname':'Sherry',
        'lastname':'Bhasin',
        'department':'Analytics',
        'qualification':'Masters',
        'age':24
        },
        {
        'firstname':'Pyiya',
        'lastname':'Anand',
        'department':'CRM',
        'qualification':'bachelors',
        'age':44,
        'Phone':'9148937054'
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        },
    {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }

]

information.insert_many(record2)