In [2]:
import pymongo

In [3]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [4]:
mydb=client['Employee']

In [24]:
information=mydb.empinfo

record= {
        'firstname':'Jasneek',
        'lastname':'Chugh',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        }

In [25]:
information.insert_one(record)

In [26]:
record2= [
        {
        'firstname':'Sherry',
        'lastname':'Bhasin',
        'department':'Analytics',
        'qualification':'Masters',
        'age':24
        },
        {
        'firstname':'Priya',
        'lastname':'Anand',
        'department':'CRM',
        'qualification':'bachelors',
        'age':44,
        'Phone':'9148937054'
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        },
    {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }

]

information.insert_many(record2)

## Querying Data

In [28]:
information.find_one() // Return Top most record

{'_id': ObjectId('5f4ed6d5ddf5c6a3428e4ac2'),
 'firstname': 'Jasneek',
 'lastname': 'Chugh',
 'department': 'Analytics',
 'qualification': 'phd',
 'age': 34}

In [31]:
information.find()

In [33]:
for record2 in information.find():
    print(record2)

{'_id': ObjectId('5f4ed6d5ddf5c6a3428e4ac2'), 'firstname': 'Jasneek', 'lastname': 'Chugh', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac3'), 'firstname': 'Sherry', 'lastname': 'Bhasin', 'department': 'Analytics', 'qualification': 'Masters', 'age': 24}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac4'), 'firstname': 'Pyiya', 'lastname': 'Anand', 'department': 'CRM', 'qualification': 'bachelors', 'age': 44, 'Phone': '9148937054'}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac6'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [40]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=priya
for record2 in information.find({'firstname': 'Priya'}):
    print(record2)

{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac4'), 'firstname': 'Priya', 'lastname': 'Anand', 'department': 'CRM', 'qualification': 'bachelors', 'age': 44, 'Phone': '9148937054'}

In [43]:
## Query documents using query operators($in,$lt,$gt)
for record2 in information.find({'qualification':{'$in':['phd','masters']}}):
    print(record2)

{'_id': ObjectId('5f4ed6d5ddf5c6a3428e4ac2'), 'firstname': 'Jasneek', 'lastname': 'Chugh', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [45]:
for record in information.find({'qualification':'master','age':{'$lt':35}}):
    print(record2)

{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [47]:
## OR operators
for record in information.find({'$or':[{'department':'Analytics'},{'qualification':'phd'}]}):
    print(record2)

{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f4ed6d6ddf5c6a3428e4ac5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [48]:
mydb

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Employee')

In [ ]:

import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')


mydb=client['Employee']

information=mydb.employeeinformation

record= {
        'first_name':'Jasneek',
        'last_name':'Chugh',
        'department':'Analytics'
        
        }

information.insert_one(record)

record2= [
        {
        'first_name':'Jasneek1',
        'last_name':'Chugh1',
        'department':'Analytics1'
        },
        {
        'first_name':'Jasneek2',
        'last_name':'Chugh2',
        'department':'Analytics2',
        'Phone':'9148937054'
        },
         {
        'first_name':'Jasneek3',
        'last_name':'Chugh3',
        'department':'Analytics3'
        }

]

information.insert_many(record2)

In [54]:
inventory=mydb.inventory

In [57]:
## Nested JSON Document. Here 'size' has nested document
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

In [59]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('5f4ee27eddf5c6a3428e4acc'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f4ee28addf5c6a3428e4ad1'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}